@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Evolventa, sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
  border: none;
}
a {
	display: inline-block;
	transition: .3s all ease;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
}
img,button {
	transition: .3s all ease;
}


.wrapper {
	overflow: hidden;
}
.owl-drag {
    overflow: hidden;
}
.owl-item {
    float: left;
}
.owl-dots {
    display: none;
}
.pink-btn {
	background: #E130B4;
	border-radius: 32px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 23px;
	text-decoration: none;
}
.pink-btn:hover {
	background: #FF82DF;
	color: #fff;
	text-decoration: none;
}
.pink-btn:disabled,
.pink-btn.disabled {
	background: #CCCCCC;
}
.pink-date {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	padding: 4px 16px;
	background: #E130B4;
}

.title h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	color: #2D2D2D;
}
.title.white h2 {
	color: #fff;
}

header {
	background: #5B509D;
	padding: 25px 0;
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #8076B9;
}
header .navbar {
	padding: 0;
}
header .navbar .navbar-brand {
	margin-right: 70px;
}
header .navbar .nav-right {
	display: flex;
	align-items: center;
}
header .navbar .nav-right .right-lk a span {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	margin-top: 8px;
	display: inline-block;
}
header .navbar .nav-right .right-lk a {
	display: flex;
    flex-direction: column;
    align-items: center;
}
header .navbar .nav-right .right-link {
	text-align: right;
	margin-left: 30px;
	margin-right: 35px;
	padding-right: 35px;
	border-right: 1px solid rgba(255,255,255, .2);
}
header .navbar .nav-right .right-link .right-btn {
	margin-top: 15px;
}
header .navbar-expand-lg .navbar-nav {
	flex-wrap: wrap;
}
header .navbar-expand-lg .navbar-nav .nav-link {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	margin-right: 32px;
	position: relative;
	padding: 7px 0;
}
header .navbar-expand-lg .navbar-nav .nav-link:after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 7px;
	margin: auto;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .4s all ease;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover:after,
header .navbar-expand-lg .navbar-nav .nav-link.active:after {
	width: 100%;
}
/* end header */
/* start index-main */
.index-main {
	padding: 45px 0;
	background-color: rgba(91, 80, 157, 1);
	position: relative;
}
.index-main .index-bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	mix-blend-mode: luminosity;
}
.index-main .index-main-right {
	text-align: right;
}
.index-main .index-main-right img {
	position: relative;
	top: 20px;
}

.index-main .index-main-left .main-btn-one a {
	margin-bottom: 24px;
	padding: 8px 24px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 36px;
}
.index-main .index-main-left h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 110%;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.index-main .index-main-left p {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
	margin-bottom: 80px;
}
.index-main .index-main-left .main-btn-two a {
	padding: 16px 90px;
}
/* end index main */
/* start index prayer */
.index-prayer {
	padding: 65px 0 95px;
}
.index-prayer .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.index-prayer .title h2 {
	width: 403px;
}
.index-prayer .title a {
	padding: 16px 35px;
}
.index-prayer .nav-pills {
	border-bottom: 1px solid rgba(91, 80, 157, .2);
}
.index-prayer .nav-pills .nav-item {
	margin-right: 40px;
	position: relative;
}
.index-prayer .nav-pills .nav-link:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 4px;
	background: #E130B4;
	transition: .4s all ease;
}
.index-prayer .nav-pills .nav-link:hover:after,
.index-prayer .nav-pills .nav-link.active:after {
	width: 100%;
}
.index-prayer .nav-pills .nav-item:last-child {
	margin-right: 0;
}
.index-prayer .nav-pills .nav-link {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: #000000;
	padding: 0 0 16px;
}
.index-prayer .nav-pills .nav-link.active {
	font-weight: 700;
}
.index-prayer .nav-pills .nav-link.active,
.index-prayer .nav-pills .show>.nav-link {
	background-color: transparent;
}

.index-prayer .tab-content {
	margin-top: 85px;
}
.index-prayer .tab-content .tab-video {
	height: 377px;
	border-radius: 16px;
	overflow: hidden;
}

.index-prayer .tab-content .tab-text {
	height: 100%;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.index-prayer .tab-content .tab-text h3 {
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
	color: #2D2D2D;
	margin-bottom: 16px;
}
.index-prayer .tab-content .tab-text h5 {
	font-weight: 700;
	font-size: 21px;
	line-height: 120%;
	color: #2D2D2D;
}
.index-prayer .tab-content .tab-text p {
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	letter-spacing: -0.01em;
	color: #2D2D2D;
	font-family: 'Inter', sans-serif;
}
/* end  */
/* start index-broadcast */
.index-broadcast {
	padding: 60px 0 70px;
	background: #5B509D;
}
.index-broadcast .broadcast-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.index-broadcast .broadcast-left span {
	margin-bottom: 24px;
}
.index-broadcast .broadcast-left h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.index-broadcast .broadcast-left p {
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: #FFFFFF;
}
.index-broadcast .broadcast-video {
	height: 377px;
	border-radius: 16px;
	overflow: hidden;
}
/* end */
/* start index-announcement */
.index-announcement {
	padding: 65px 0 90px;
}
.index-announcement .title {
	margin-bottom: 65px;
}
.index-announcement .announcement-img {
	height: 241px;
	overflow: hidden;
	border-radius: 16px;
	position: relative;
	margin-bottom: 24px;
}
.index-announcement .announcement-img img {
	width: 100%;
	height: 100%;
}
.index-announcement .announcement-img span {
	position: absolute;
	left: 24px;
	bottom: 24px;
}
.index-announcement .announcement-text h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #2D2D2D;
}
.index-announcement .announcement-text p {
	font-family: 'Inter', sans-serif;
	margin: 14px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #2D2D2D;
}
/* end */
/* start index-evidence */
.index-evidence {
	padding: 80px 0 55px;
	background: #5B509D;
}
.index-evidence .title {
	margin-bottom: 50px;
}


.index-evidence .mini-slider .mini-items a {
	display: flex;
	align-items: center;
	margin-right: 24px;
}
.index-evidence .mini-slider .mini-items a img {
	margin-right: 14px;
	height: 26px;
	border-radius: 50%;
}
.index-evidence .mini-slider .mini-items a span {
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	color: #FFFFFF;
	white-space: nowrap;
}
.index-evidence .mini-slider .mini-items a:hover span {
	color: #ccc;
}
.index-evidence .mini-slider .owl-nav {
	position: absolute;
	bottom: 33px;
	display: flex;
	align-items: center;
	z-index: 2;
	width: 100%;
}
.index-evidence .mini-slider .owl-nav button {
	position: absolute;
	padding: 0;
	background: transparent;
}
.index-evidence .mini-slider .owl-nav .owl-prev {
	transform: rotate(-180deg);
	margin-top: -16px;
	left: -20px;
}
.index-evidence .mini-slider .owl-nav .owl-next {
	right: 30px;
}
.index-evidence .mini-slider .owl-nav button.disabled {
	opacity: 0;
	visibility: hidden;
}
.index-evidence .mini-slider .owl-dots {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 20px;
}
.index-evidence .mini-slider .owl-dots .owl-dot {
	background: rgba(255,255,255, .2);
	width: 100%;
}
.index-evidence .mini-slider .owl-dots .owl-dot.active {
	height: 4px;
	background: #E130B4;
}
/* /////// */
.index-evidence .second-slider {
	margin-top: 40px;
	position: relative;
	padding-bottom: 30px;
}
.index-evidence .second-slider .second-slider-item {
	padding: 18px 24px 24px;
	background: #FFFFFF;
	border-radius: 16px;
	height: 271px;
	overflow: hidden;
}
.index-evidence .second-slider .second-slider-item .slider-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}
.index-evidence .second-slider .slider-top .slider-top-left {
	display: flex;
	align-items: center;
}
.index-evidence .second-slider .slider-top .slider-top-left .slide-img {
	margin-right: 20px;
}
.index-evidence .second-slider .slider-top .slider-top-left .slide-img img {
	border-radius: 50%;
	height: 53px;
}
.index-evidence .second-slider .slider-top .slider-top-right h4,
.index-evidence .second-slider .slider-top .slider-top-left .slide-text h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 4px;
}
.index-evidence .second-slider .slider-top .slider-top-left .slide-text span {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: rgba(45, 45, 45, .5);
}
.index-evidence .second-slider .slider-body p {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #2D2D2D;
	margin-bottom: 30px;
}
.index-evidence .second-slider .slider-body a {
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #E130B4;
}
.index-evidence .second-slider .slider-body a:hover {
	color: #FF82DF;
}
/* //////// */
.index-evidence .second-slider .owl-nav {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 3;
	width: 100%;
}
.index-evidence .second-slider .owl-nav button {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
}
.index-evidence .second-slider .owl-nav button span {
	display: flex;
}
.index-evidence .second-slider .owl-nav .owl-prev {
	transform: rotate(-180deg);
}
.index-evidence .second-slider .owl-nav .owl-prev span {
	padding-left: 5px;
}
.index-evidence .second-slider .owl-nav .owl-next {
	margin-left: 8px;
}
.index-evidence .second-slider .owl-nav .owl-next span {
	padding-left: 5px;
}

.index-evidence .second-slider .owl-nav button.disabled {
	opacity: .3;
}
.index-evidence .second-slider .owl-dots {
	display: flex;
	align-items: center;
	width: 85%;
	padding-top: 60px;
	position: relative;
	z-index: 3;
}
.index-evidence .second-slider .owl-dots .owl-dot {
	background: rgba(255,255,255, .2);
	width: 100%;
}
.index-evidence .second-slider .owl-dots .owl-dot.active {
	height: 4px;
	background: #E130B4;
}
.index-evidence .read-all {
	margin-top: 40px;
}
.index-evidence .read-all a {
	height: 271px;
	background: #E130B4;
	border-radius: 16px;
	padding: 30px 24px 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.index-evidence .read-all a:hover {
	background: #FF82DF;
}
.index-evidence .read-all a img {
	height: 28px;
}
.index-evidence .read-all a span {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	text-transform: uppercase;
}
/* end */
/* start prayer-choose */
.prayer-choose {
	padding: 80px 0;
}
.prayer-choose .prch-rov {
	align-items: center;
}
.prayer-choose .pch-rov {
	margin-top: 60px;
}
/* start search form */
.prayer-choose .search-opener {
	position: relative;
	z-index: 6;
}

.prayer-choose .searchbox {
	position: relative;
	width: 500px;
	transition: .3s all ease;
	margin-left: auto;
}

.prayer-choose .searchbox .search-btn {
	position: absolute;
	right: 24px;
    top: 13px;
	border: none;
	background: transparent;
	z-index: 8;
	padding: 0;
}
.prayer-choose .searchbox input.head-search {
    border: 1px solid rgba(45, 45, 45, 0.4);
	border-radius: 32px;
	position: relative;
	z-index: 7;
	padding: 16px 24px;

	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: #2D2D2D;
	width: 100%;
}
.prayer-choose .searchbox a {
    font-size: 14px;
	line-height: 16px;
	color: #363636;
}
.prayer-choose .searchbox ul {
    list-style: none;
    padding: 0;
    width: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 5;
	background: #FFFFFF;
	border-radius: 32px;
	overflow: hidden;
	height: 0;
	transition: .3s all ease;
	transform: scale(0);
}
.prayer-choose .searchbox.active ul {
	transform: scale(1);
	margin: 8px 0 0 0;
	border: 1px solid rgba(45, 45, 45, 0.4);
	height: 286px;
	padding: 24px;
	overflow-y: auto;
	overflow-x: hidden;
}
.prayer-choose .searchbox .suggestions li {
	transition: .3s all ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
	height:60px;
}
.prayer-choose .searchbox .suggestions > p {
	margin: 16px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	color: rgba(45, 45, 45, .5);
}
.prayer-choose .searchbox .suggestions li:last-child {
	box-shadow: none;
}
.prayer-choose .searchbox .suggestions li a {
	display: flex;
	align-items: center;
	width: 100%;
    height: 80%;
}
.prayer-choose .searchbox .suggestions li:hover a {
	margin-left: 10px;
}
.prayer-choose .searchbox .suggestions li a img {
	margin-right: 18px;
	height: 26px;
}
#style-2::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
	width: 0px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(45, 45, 45, .5);
}
/* end search form */
.prayer-choose .prayer-choose-item {
	display: flex;
	align-items: flex-start;
	background-color: #5B509D;
	height: 215px;
	border-radius: 16px;
	overflow: hidden;
	margin-bottom: 30px;
}
.prayer-choose .prayer-choose-item .choose-item-img {
	width: 138px;
}
.prayer-choose .prayer-choose-item .choose-item-text {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.prayer-choose .prayer-choose-item .choose-item-text h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	margin-bottom: 8px;
}
.prayer-choose .prayer-choose-item .choose-item-text p {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #FFFFFF;
}

.prayer-choose .prayer-choose-item .choose-item-text a {
	width: 80%;
	text-align: center;
	white-space: nowrap;
}

.prayer-choose .all-btn {
	text-align: center;
	margin-top: 50px;
}
.prayer-choose .all-btn a {
	padding: 16px 38px;
}
/* // end // */
/* start Ответы на частые вопросы */
.index-faq {
	padding: 80px 0 85px;
	background: #5B509D;
}
.index-faq .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}
.index-faq .title a {
	padding: 16px 85px;
}
.index-faq .index-img img {
	width: 100%;
}

.index-faq .card-col {
	padding-left: 60px;
}
.index-faq .card {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent;
	border-radius: 0;
}
.index-faq .card-header {
	padding: 0;
	background: transparent;
	border: none;
}
.index-faq .card .card-btn {
	width: 100%;
	background: transparent;
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.index-faq .card .card-btn span {
	display: inline-block;
	font-weight: 700;
	font-size: 21px;
	line-height: 140%;
	color: #FFFFFF;
}

.index-faq .card .card-btn[aria-expanded="true"] img {
	transform: rotate(90deg);
}

.index-faq .card .card-body {
	padding: 0;
}

/* /////////////////// */
.index-gallery {
	padding: 75px 0 60px;
}
.index-gallery .title {
	margin-bottom: 75px;
}
.chapel-gallery .owl-nav {
	display: none;
}
.chapel-gallery img {
    width: 568.89px;
    height: 320px;
    border-radius: 16px;
}
.chapel-gallery .owl-dots {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 70px;
}
.chapel-gallery .owl-dots .owl-dot {
	background: rgba(45, 45, 45, .2);
    height: 1px;
	width: 100%;
}
.chapel-gallery .owl-dots .owl-dot.active {
	height: 3px;
	background: #E130B4;
}

.chapel-gallery.owl-drag {
    overflow: visible;
}
/* end */
/* start index faq modals */



















.mob{display: none;}


@media (min-width: 1200px){
	.container {
		max-width: 1440px;
	}
}
@media only screen and (max-width: 480px){
	.mob{display: block;}
}


